.search{
    width:280px;
    background-color: rgb(245, 245, 245);
    border-right: 1px solid rgb(204, 204, 204);
    position:fixed;
    top:0;
    left:0;
    height:100%;
}

.search-group__title{
    height:40px;
    text-align: center;
    background: #dcdcdc;
    font-weight: bold;
    color: rgb(51, 51, 51);
    display:flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #e6e6e6;
}

.filter{
    display:flex;
    height:40px;
    align-items: center;
    padding:0 10px;
}